.tutor-body {
    background-color: #26292B;
}

.tutor-container {
    width: 1000px;
    max-width: 100%;


    margin: 0 auto;
    padding: 20px;

    background-color: #1C1E1F;
}

.tutor-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 2px solid #22BBFF;

    position: relative;
}

.title {
    /* background-color: #22BBFF; */
    margin-bottom: 10px;
    color: white;
}

.description {
    font-size: 18px;
    color: #888;
}

.description p {
    margin-bottom: 10px;
}

.highl {
    filter: brightness(1.4);
}

.tutor-text .img-cont {
    margin: 0 auto;
}


.content-link {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #4093d6;
    transition: 200ms;
}

.content-link a:hover {
    color: #7eaed4;
}

.classes {
    display: flex;
    gap: 20px;
    height: 180px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
}

.classes .text-img-class {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80%;
}

.classes .text-img-class img {
    height: 80%;
}

.classes .description {
    border: 1px solid #736a5e;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    width: 400px;
}

.classes .arrow{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.circle-container {
    display: flex;
    gap: 5px;
}

.circle-container .circle {
    color: #333;
}

.circle-container .circle.active {
    color: white;
}


.sub-title {
    color: #00affb;
}

/* Class Section */

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.images div {
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
}



.images button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    height: 80px;

}
.images img {
    height: 100%;
}

.character {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    padding-bottom: 30px;
    margin-bottom: 10px;
}

.tutor-text.tier-list {
    border-bottom: 2px solid #162F4B;
    
}

.charac-btn {
    height: 300px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.charac-btn img {
    height: 100%;
    max-width: 100%;
    transition: 400ms;
}

.charac-btn img:hover {
    transform: scale(1.15);
}

/* Tier List Section */


@media (max-width:600px) {
    .classes {
        height: 100%;
    }

    .classes .text-img-class {
        flex-direction: column;
    }

    .classes .text-img-class img {
        max-width: 100%;
    }

    .classes .text-img-class .description {
        /* width: calc(100% + 40px); */
        width: 100%;
        line-height: 1.7;
    }


}