nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 0 20px;
    background-color: #1A1C22;
    /* background-color: #7F8487; */
}

a {
    text-decoration: none;
}

nav .logo {
    height: 40px;
}

nav .logo img {
    height: 100%;
}

nav .menu ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

nav .menu ul a {
    /* color: rgb(36, 33, 33); */
    color: white;

}

nav .open-menu, nav .close-menu {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}


@media (max-width: 600px) {

    nav .menu {
        display: none;
    }

    nav .menu.active {
        position: fixed;
        display: block;
        width: 60%;
        height: 100vh;
        background-color: #444;
        top: 0;
        right: 0;

        z-index: 300;
        padding-top: 40px;

    }

    nav .menu.active ul {
        padding: 30px 50px;
        flex-direction: column;
        font-size: 18px;
    }

    nav .close-menu.active {
        display: block;
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 400;
    }
    
    nav .open-menu {
        display: block;
    }
}